h1 {
  font-family: Arial, sans-serif;
}

body {
  background-color: pink;
}

.link-button {
    display: inline-block;
    padding: 1rem;
    background: #ddd;
    border: 1px solid #ababab;
    border-radius: 4px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
}
