<!DOCTYPE html>
<html lang="en">

<head>


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>First flask app</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
  <img src="https://drive.google.com/uc?id=1z40MTS5NXGTJmNziPJLJXZFmDnTAUTTs" class="center"
        width="430" height="300">
</head>

<body>
  <h1 style="font-size:200%;">New patient form</h1>


    <form action="/post-create" method="POST">
        <input type="text" name="first_name" placeholder="First Name" />
        <input type="text" name="surname" placeholder="Last Name" />
        <input type="date" name="date_of_birth" placeholder="01/01/1970" />
        <input type="submit" />
    </form>
  
</body>

</html>
