<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>First flask app</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
  <img src="https://drive.google.com/uc?id=1z40MTS5NXGTJmNziPJLJXZFmDnTAUTTs" class="center"
        width="430" height="300">
</head>

<body>
  <h1 style="font-size:250%> ITON </h1>
  
  <a href="/create" class="link-button">Create new patient</a>
  
  <style>
	p {
  	border: 1px solid powderblue;
 	padding: 30px;
	}
	</style>
  <p>"Learn from yesterday. Live for today. Hope for tomorrow."</p>
</body>

</html>


